aiofiles==0.3.2
aiohttp==2.3.10
arsenic==1.0.0.dev8
async-timeout==2.0.1
attrs==18.1.0
beautifulsoup4==4.6.0
certifi==2022.12.7
chardet==3.0.4
html5lib==1.0.1
idna==2.6
idna-ssl==1.0.1
lxml==4.2.1
multidict==4.3.1
pafy==0.5.4
requests==2.18.4
six==1.11.0
structlog==17.2.0
urllib3==1.22
webencodings==0.5.1
xlwt==1.3.0
yarl==0.18.0
youtube-dl==2018.5.9